<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RCB</title>
</head>
<body>
    <center>
        <h1 style="color: darkred;">
            VIRAT KOHLI
        </h1>
            <a href="{% url 'dhoni' %}">navigate to dhoni</a>
    </center>
    <h1 style="color: blue;">Virat Kohli is an Indian international cricketer and former captain of the India national team
         who plays as a right-handed batsman for Royal Challengers Bangalore in the IPL
          and for Delhi in Indian domestic cricket </h1>
</body>
</html>